.container{
    display: flex;
    justify-content: space-between;
    margin: 0;
    background-color: rgb(205, 205, 240);
    padding: 20px 30px;
}
.btn{
    border: none;
    border-radius: 2px;
    margin: 10px;
 
  
}
.btn_img{
  width: 30px;
    height: 25px;
    padding: 5px;
}
